*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    
}

.bill_mini{
  width: 450px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(79, 121, 199);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bill_mini input{
  padding: 19px 8px;
  margin: 12px 0px;
  outline: none;
  border-radius: 4px;
  border: 1px solid cornflowerblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.bill_mini h1{
  margin-bottom: 10px;
}